{% extends 'layouts/base.html.twig' %}

{% block title 'Poudlard' %}

{% block body %}
    <div class="row">
        <div class="col-6 mx-auto">
            <h1 class="display-4 my-5">Ajouter un étudiant</h1>

            {{ form_start(form) }}
                {% if form.vars.errors is not empty %}
                    <div class="mb-3 text-center">
                        {{ form_errors(form) }}
                    </div>
                {% endif %}

                {{ form_row(form.nom) }}
                {{ form_row(form.nbHeures) }}
                {{ form_row(form.nbHeures2) }}
                {{ form_row(form.departement) }}
                {{ form_row(form.ville) }}
               

                <button type="submit" class="btn btn-primary w-100" formnovalidate>Inscrire</button>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const departementSelectionne = document.getElementById('etudiant_form_departement');

            departementSelectionne.addEventListener('change', function(e) {
                const formEtu = departementSelectionne.closest('form');

                fetch(formEtu.action, {
                    method: formEtu.method,
                    body: new FormData(formEtu)
                })
                .then(response => response.text())
                .then(html => {
                    const parser = new DOMParser();
                    const doc = parser.parseFromString(html, 'text/html');
                    const villeListeDeroul = doc.getElementById('etudiant_form_ville');

                    villeListeDeroul.addEventListener('change', function(e) {
                        e.target.classList.remove('is-invalid');
                    });

                    document.getElementById('etudiant_form_ville').replaceWith(villeListeDeroul);
                })
                .catch(function (err) {
                    console.warn('Oups, ya un problème', err);
                });
            });
        });
    </script>
{% endblock %}
